*.la
*.lo
*.o
*.a
*.gcda
*.gcno
*.gcov
.*.swp
.deps
.libs
Makefile
Makefile.in
config.*
aclocal.m4
autom4te.cache
default.apspec
configure
depcomp
install-sh
libtool
ltmain.sh
mingw32-varconf.spec
varconf-1.0.pc
varconf.spec
missing
stamp-h1
tests/*test
tests/*.log
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
# Ignore temporary files
*~
# ignore Eclipse project files
.project
.cproject
.settings
.cdtconfig*
.autotools
*.orig
*.log
*.kdevelop

