.deps
.libs
*.lo
*.la
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bindings/perl/compile_flags.pl
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
eris-1.3.pc
eris.dox
eris.spec
install-sh
libtool
ltmain.sh
missing
stamp-h1
test/*_unittest
test/*_unittest.log
test/metaquery
test/testEris
test/test-suite.log
# Ignore objects and archives.
*.[oa]
# Ignore temporary files
*~
# Ignore vi swap files
*.swp
# Ignore desktop files
.directory
# ignore Eclipse project files
.project
.cproject
.settings
.cdtconfig*
# KDevelop files
*.kdev*
