Erik Ogenvik <erik@ogenvik.org> Erik Hjortsberg <erik.hjortsberg@iteam.se> 
Erik Ogenvik <erik@ogenvik.org> Erik Hjortsberg <erik.hjortsberg@gmail.com>
Erik Ogenvik <erik@ogenvik.org> Erik Hjortsberg <erik.hjortsberg@jayway.se>
Alistair Riddoch <alriddoch@googlemail.com> Al Riddoch <alriddoch@googlemail.com>
Alistair Riddoch <alriddoch@googlemail.com> Al Riddoch <alriddoch@google.com>
Alistair Riddoch <alriddoch@googlemail.com> Al Riddoch <alriddoch@dhcp-172-26-171-239.dub.corp.google.com>
Alistair Riddoch <alriddoch@googlemail.com> Al Riddoch <alriddoch@dhcp-172-26-190-166.dub.corp.google.com>
Alistair Riddoch <alriddoch@googlemail.com> Al Riddoch <alriddoch@dhcp-172-26-138-97.dub.corp.google.com>
Alistair Riddoch <alriddoch@googlemail.com> Al Riddoch <alriddoch@dhcp-172-26-139-216.dub.corp.google.com>
Alistair Riddoch <alriddoch@googlemail.com> alriddoch <alriddoch@excitant.alistairriddoch.org>
Alistair Riddoch <alriddoch@googlemail.com> alriddoch <alriddoch@whimsy.(none)>
Alistair Riddoch <alriddoch@googlemail.com> Al Riddoch Al Riddoch <alriddoch@localhost>
Alistair Riddoch <alriddoch@googlemail.com> Al Riddoch <alriddoch@localhost>
Peter Szücs <peter.szucs.dev@gmail.com> Peter Szucs <peter.szucs.dev@gmail.com>
Anthony Pesce <timetopat@gmail.com>
Anthony Pesce <timetopat@gmail.com> anthony <anthony@anthony-Aspire-5349.(none)>
Anthony Pesce <timetopat@gmail.com> anthony <anthony@anthony-Lenovo-Product.(none)>
Yaroslav Taben <yaroslav.taben@mail.utoronto.ca> ytaben <yaroslav.taben@mail.utoronto.ca>
Manohar Vanga <manohar.vanga@gmail.com> Manohar Vanga <mvanga@ileortech.com>
Kai Blin <kai.blin@gmail.com> Kai Blin <kai@samba.org>
Stephen M. Webb <stephen.webb@bregmasoft.ca> Stephen M. Webb <stephen.web@bregmasoft.ca>
Olek Wojnar <olek-dev@wojnar.org> olekw <olek-dev@wojnar.org>
Simon Goodall <simon@simongoodall.co.uk> Simon Goodall <simon@worldforge.org>
