language: cpp
dist: xenial
osx_image: xcode8
compiler:
  - clang
  - gcc

os:
  - linux
  - osx

matrix:
  exclude:
    - os: osx
      compiler: gcc

addons:
  apt:
    packages:
      - ccache

cache:
  - pip
  - ccache
  - directories:
      - $HOME/Library/Caches/Homebrew
before_install:
  - PY_CMD=python
  - $PY_CMD -m pip install --user --upgrade pip wheel setuptools
  - $PY_CMD -m pip install --user conan
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      export PATH=$PATH:/Users/travis/Library/Python/2.7/bin
      brew update
      brew install xz
      brew install ccache
      export PATH="/usr/local/opt/ccache/libexec:$PATH"
    fi
  - conan user
  - conan remote add worldforge https://api.bintray.com/conan/worldforge/worldforge-conan
script:
  - mkdir build && cd build
  - conan profile new default --detect
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" && "$CXX" == "clang++" ]]; then
      echo osx/clang autodetected libcxx is fine
      conan install ../tools/conan -pr default --build=missing
    else
      conan profile update settings.compiler.libcxx=libstdc++11 default
      conan install ../tools/conan -pr default --build=missing
    fi
  - cmake ..
  - make
  - make check
  - if [ "$TRAVIS_OS_NAME" == "osx" -a "$CC" == "gcc" ]; then make dox; fi
  - |
    if [[ x"$CONAN_PASSWORD" != "x" && x"$CONAN_LOGIN_USERNAME" != "x" ]]; then
      echo "Creating and uploading Conan artifacts"
      conan user -p $CONAN_PASSWORD -r worldforge $CONAN_LOGIN_USERNAME
      conan create ../tools/conan worldforge/testing -pr default --build missing
      conan upload "eris/*@worldforge/testing" -r worldforge -c --all
    fi
